<ul>
<% @results.each do |result| %>
  <% unless @unique_list.include? result.name %>
    <li>
      <%= check_box_tag "categories[]", result.id -%>
        <%= h result.name -%>
    </li>
  <%end%>
  <% @unique_list << result.name %>
<%end%>
</ul%>
